@mixin medium {
    @media only screen and (max-width: (600px)) {
        @content; // this lets me leave the mixin empty and pass it new content
    }
}

.Product {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    margin-left: 70px;
    gap: 50px;

    @include medium {
        justify-content: center;
        margin: 20px;
    }

    & p {
        font-size: 18px;
    }

    &_Left {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        // margin-left: 50px;
        max-width: 500px;
        gap: 5px;

        & img {
            align-self: center;
            max-width: 500px;
            max-height: 750px;

            @include medium() {
                max-width: 250px;
                max-height: 500px;
            }
        }

        & button {
            padding: 7px 12px;
            border-radius: 3px;
            cursor: pointer;
            border: 2px solid black;

            &:disabled {
                opacity: 50%;
                cursor: not-allowed;
            }
        }
    }

    &_Right {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 300px;
        @include medium {
            justify-content: center;
        }

        & select {
            padding: 7px 12px;
            border: 2px solid black;
            border-radius: 3px;
            cursor: pointer;
        }
    }
}
