.Cart {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &_Products {
        align-self: center;
        display: flex;
        flex-wrap: wrap;
        width: 1000px;
        gap: 30px;
    }

    &_Purchase {
        font-size: larger;
        align-self: center;
        padding: 12px 17px;
        background-color: #f5ed00;
        border: 2px solid black;
        border-radius: 3px;
        margin-bottom: 10px;
        &:hover {
            background-color: #fff833;
            cursor: pointer;
        }
    }
}
