.Nav {
    display: flex;
    gap: 20px;
    padding: 7px 12px;
    margin-right: 10px;

    &_Link {
        text-decoration: none;
        border: 2px solid black;
        padding: 7px 12px;
        min-width: 50px;
        text-align: center;
        color: black;
        border-radius: 3px;

        &:hover {
            background-color: rgb(122, 201, 5);
        }
    }
}
