.CaroselCard {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    // height: 100px;
    // position: relative;
    // right: -33%;
    // transform: translateX(-100%);
    // background-color: green;
    // color: aliceblue;

    & img {
        width: 600px;
    }
}

.Next {
    @keyframes slideInRight {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0);
        }
    }

    animation: 1s ease-out 0s 1 slideInRight;
}

.Previous {
    @keyframes slideInLeft {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0);
        }
    }

    animation: 1s ease-out 0s 1 slideInLeft;
}

.Show {
    opacity: 100%;
}

.Dampen {
    opacity: 50%;
}
