.ProductCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid black;
    width: 200px;
    height: 450px;

    &:hover {
        box-shadow: 10px 10px 10px gray;
    }

    &_Image {
        width: 200px;
        height: 300px;
    }
}
