.ProductCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid black;
    width: 200px;
    height: 430px;
    border-radius: 3px;

    &:hover {
        box-shadow: 10px 10px 10px gray;
    }

    &_Image {
        width: 200px;
        height: 300px;
    }

    &_Link {
        text-decoration: none;
        color: black;
    }

    & button {
        padding: 7px 12px;
        cursor: pointer;
    }
}
