.Carosel {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &_Inner {
        white-space: nowrap;
        transition: transform 0.3s;
        display: flex;
        gap: 0px;
    }
}

.Controls {
    display: flex;
    justify-content: center;
    gap: 20px;

    & button {
        width: 100px;
        padding: 7px 12px;
    }
}
