.Carosel {
    overflow: hidden;

    &_Inner {
        white-space: nowrap;
        transition: transform 0.3s;
        transform: translateX(-33%);

        &_Next {
            // @keyframes slideInRight {
            //     0% {
            //         transform: translateX(100%);
            //     }
            //     100% {
            //         transform: translateX(0);
            //     }
            // }

            // animation: 1s ease-out 0s 1 slideInRight;
        }

        &_Previous {
            // @keyframes slideInLeft {
            //     0% {
            //         transform: translateX(-100%);
            //     }
            //     100% {
            //         transform: translateX(0);
            //     }
            // }

            // animation: 1s ease-out 0s 1 slideInLeft;
        }
    }
}

.Controls {
    display: flex;
    justify-content: center;
    gap: 20px;

    & button {
        width: 100px;
        padding: 7px 12px;
    }
}
