.Carosel {
    overflow: hidden;

    &_Inner {
        white-space: nowrap;
        transition: transform 0.3s;
        // transform: translateX(33%);
    }
}

.Controls {
    display: flex;
    justify-content: center;
    gap: 20px;

    & button {
        width: 100px;
        padding: 7px 12px;
    }
}
