.Card {
    display: flex;
    gap: 5px;

    &_Product {
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        padding: 5px;
        border: 1px solid black;
        border-radius: 3px;
        inline-size: 120px;
        overflow-wrap: normal;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        color: black;
        text-decoration: none;
        width: 130px;
    }
    &_Image {
        width: 50px;
        height: 75px;
    }

    &_Form {
        display: flex;
        flex-direction: column;
        gap: 5px;

        & input {
            padding: 5px 10px;
            border: 2px solid black;
            border-radius: 3px;
        }

        & button {
            padding: 5px 10px;
            background-color: #f45d01;
            border: 2px solid black;
            border-radius: 3px;

            &:hover {
                background-color: #fe7520;
                cursor: pointer;
            }
        }
    }
}

.UpdateCart {
    cursor: pointer;
}
